*{
    padding: 0;
    margin:0;
}

#wrapper{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
}

.filter-wrapper{
    width: 95vw;
    height: 5vh;
}

table{
    width: 95vw;
    height: 80vh;
}

mat-paginator{
    width: 95vw;

    
}