<div id="wrapper">
  <form class="search-form" [formGroup]="searchForm">
    <mat-form-field class="search-bar">
      <mat-label>Username Search</mat-label>
      <input
        type="search"
        matInput
        formControlName="searchFormControl"
        placeholder="Enter a Username"
        [pattern]="validUsername"
       
      />

      <mat-error
        *ngIf="searchForm.get('searchFormControl')?.errors?.['pattern'] "
      >
        Please enter a valid Search containing only alphanumeric characters
        and/or hyphens.
      </mat-error>
      <mat-error
        *ngIf="searchForm.get('searchFormControl')?.hasError('required')"
      >
        Search input is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      aria-label="search-button"
      type="submit"
    >
      Search
    </button>
  </form>
</div>
